@{
    ViewBag.Title = "Home Page";
}

<style>

    body {
        background-image:url('../../Content/homepage.jpg');
        background-size:1280px 675px;
        background-repeat:no-repeat;
        position: center;
    }

    .jumbotron {
    background-color: rgba(0, 0, 0, 0.14);
    }


</style>


<div class="jumbotron">
    <h1 style="text-shadow: 3px 3px 6px #fff;">National Parks</h1>
    
    <p><a href="~/Home/AllParks/" class="btn btn-primary btn-lg">See All Parks &raquo;</a></p>
</div>

<div> </div>
