@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>National Park Website</h1>
    <p class="lead">Click below for our current listings!</p>
    <p><a href="~/Home/AllParks/" class="btn btn-primary btn-lg">See All Parks &raquo;</a></p>
</div>

<div> </div>
