@using Capstone.Web.Models

@model Park

<div style="width:100%">
    <div style="margin-top:50px;width:27%;float:left">
        @{string imagePath = Path.Combine("/Content/",(Model.ParkCode) + ".jpg");}
        <div>
            <a href=" @Url.Action("ParkDetail","Home", new { parkCode = Model.ParkCode }, null)">
                <img src="@imagePath" style="height:300px;width:auto" alt="Picture of Park" />
            </a>
        </div>
    </div>
</div>
