@using Capstone.Web.Models
@model Survey

<h1>New Survey:</h1>

<form method="post" action="@Url.Action("Survey","Survey")">
    <table>
        <tr>
            <td>
                Select a Park:
            </td>
            <td>
                <select name="ParkCode">
                    <option value="GNP"> Glacier National Park </option>
                    <option value="GCNP"> Grand Canyon National Park </option>
                    <option value="GTNP"> Grand Teton National Park </option>
                    <option value="MRNP"> Mount Ranier National Park </option>
                    <option value="GSMNP"> Great Smokey Mountain National Park </option>
                    <option value="ENP"> Everglades National Park </option>
                    <option value="YNP"> Yellowstone National Park </option>
                    <option value="YNP2"> Yosemite National Park </option>
                    <option value="CVNP"> Cuyahoga Valley National Park </option>
                    <option value="RMNP"> Rocky Mountain National Park </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                User Email:
            </td>
            <td>
                <input type="text" name="EmailAddress" required />
            </td>
        </tr>
        <tr>
            <td>
                State of Residence:
            </td>
            <td>
                <input type="text" name="State" required />
            </td>
        </tr>
        <tr>
            <td>
                Select your activity level:
            </td>
            <td>
                <select name="activityLevel">
                    <option value="inactive"> Inactive </option>
                    <option value="sedentary"> Sedentary </option>
                    <option value="active"> Active </option>
                    <option value="extremely active"> Extremely Active </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>

    </table>

</form>